{% extends 'apik/BASE.html' %}
{% load static %}

{% block body_bl %}
<div class="container">
    {% if bidan %}
    <div class="my-4 d-flex flex-wrap justify-content-evenly">
        <div class="stat-card card mx-3 mb-3" style="width: 23rem; max-width: 80vw;">
            <div class="card-body">
                <h5 class="card-title">Dosis imunisasi dapat diberikan</h5>
                <div class="spinner-border mt-3" role="status" hx-swap="outerHTML" hx-trigger="click" hx-get="{% url 'apik:get_eligible_imuns_count' %}">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="stat-card card mx-3" style="width: 23rem; max-width: 80vw;">
            <div class="card-body">
                <h5 class="card-title">Jumlah balita</h5>
                <p class="card-text" style="font-size: 300%;">{{ jumlah_balita }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <h1>Daftar Anak</h1>
    <dl>
        {% if ibu %}
        <dt>NIK Ibu:</dt>
        <dd>{{ ibu.nik }}</dd>
        <dt>Nama Ibu:</dt>
        <dd>{{ ibu }}</dd>
        {% else %}
        <dt>User saat ini:</dt>
        <dd>{{ bidan.nama }}<br>NIK: {{ bidan.nik }}<br>STRB: {{ bidan.str|default:'-' }}</dd>
        {% endif %}
    </dl>
    {% if ibu %}
    <div class="my-3 alert alert-info">
        Mohon Bapak/Ibu berkenan mengisi <a href="https://bit.ly/SuveiKepuasanMasyarakat_APIK_Payung" target="_blank">survey kepuasan layanan APIK</a>. Abaikan jika sudah pernah mengisi.
    </div>
    {% endif %}
    <div class="mt-5">
        <div class="div-table" hx-trigger="load" hx-get="{% url 'apik:get_index_table' %}">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script>
    function initDataTable() {
        $('#datatable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/id.json',
            },
            columnDefs: [{
                targets: [5, 7],
                orderable: false
            }]
        });
    }
    $(document).ready(function () {
        $(".input-tanggal").datepicker({
            dateFormat: "dd-mm-yy",
            dayNamesMin: ["Mg", "Sn", "Sl", "Rb", "Km", "Jm", "Sb"],
            monthNames: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"]
        });
        // initDataTable();
        //{% if ibu %}
        /*Swal.fire({
            //title: "Are you sure?",
            text: `Apakah Bapak/Ibu bersedia 
            mengisi survey kepuasan layanan APIK?`,
            footer: `Abaikan jika sudah pernah mengisi`,
            icon: "question",
            showCloseButton: true,
            showCancelButton: true,
            confirmButtonText: "Ya, isi sekarang",
            cancelButtonText: `Tidak`
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "https://www.google.com";
            }
        });*/
        //{% endif %}
    });
</script>
{% endblock %}