{% extends 'apik/BASE.html' %}
{% load static %}

{% block body_bl %}
<div class="container">
    {% if bidan %}
    <div class="my-4 d-flex flex-wrap justify-content-evenly">
        <div class="stat-card card mx-3" style="width: 23rem; max-width: 80vw;">
            <div class="card-body">
                <h5 class="card-title">Dosis imunisasi dapat diberikan</h5>
                <p class="card-text" style="font-size: 300%;">{{ eligible_imuns_count }}</p>
            </div>
        </div>
        <div class="stat-card card mx-3" style="width: 23rem; max-width: 80vw;">
            <div class="card-body">
                <h5 class="card-title">Jumlah balita</h5>
                <p class="card-text" style="font-size: 300%;">{{ jumlah_balita }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <h1>Daftar Anak</h1>
    <dl>
        {% if ibu %}
        <dt>NIK Ibu:</dt>
        <dd>{{ ibu.nik }}</dd>
        <dt>Nama Ibu:</dt>
        <dd>{{ ibu }}</dd>
        {% else %}
        <dt>User saat ini:</dt>
        <dd>{{ bidan.nama }}<br>NIK: {{ bidan.nik }}<br>STRB: {{ bidan.str|default:'-' }}</dd>
        {% endif %}
    </dl>
    {% if ibu %}
    <div class="my-3 alert alert-info">
        Mohon Bapak/Ibu berkenan mengisi <a href="https://bit.ly/SuveiKepuasanMasyarakat_APIK_Payung" target="_blank">survey kepuasan layanan APIK</a>. Abaikan jika sudah pernah mengisi.
    </div>
    {% endif %}
    <div class="mt-5">
        <div class="div-table">
            <table id="datatable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Nama</th>
                        <th scope="col">Tanggal lahir</th>
                        <th scope="col">Usia (bulan)</th>
                        <th scope="col">Nama ibu</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Imunisasi terakhir</th>
                        <th scope="col">Jumlah imunisasi dapat diberikan</th>
                        <th scope="col">Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for balita, eligible_imuns_count in balitas %}
                        <tr>
                            <td>{{ balita.nama }}</td>
                            <td>{{ balita.tanggal_lahir|date:'Y-m-d' }}</td>
                            <td>{{ balita.get_usia_bulan }}</td>
                            <td>{{ balita.ibu.nama }}</td>
                            <td>{{ balita.ibu.alamat }}</td>
                            {% if balita.imunisasi_diberikan.count > 0 %}
                                <td>{{ balita.imunisasi_diberikan.last.imunisasi }} ({{ balita.imunisasi_diberikan.last.tanggal_pemberian|date:'Y-m-d' }})</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{ eligible_imuns_count }}</td>
                            <td>
                                <a href="{% url 'apik:bayi_detail' balita.pk %}" role="button" class="btn btn-primary btn-sm">Lihat detail</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $(".input-tanggal").datepicker({
            dateFormat: "dd-mm-yy",
            dayNamesMin: ["Mg", "Sn", "Sl", "Rb", "Km", "Jm", "Sb"],
            monthNames: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"]
        });
        $('#datatable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/id.json',
            },
            columnDefs: [{
                targets: [5, 7],
                orderable: false
            }]
        });
        {% if ibu %}
        /*Swal.fire({
            //title: "Are you sure?",
            text: `Apakah Bapak/Ibu bersedia 
            mengisi survey kepuasan layanan APIK?`,
            footer: `Abaikan jika sudah pernah mengisi`,
            icon: "question",
            showCloseButton: true,
            showCancelButton: true,
            confirmButtonText: "Ya, isi sekarang",
            cancelButtonText: `Tidak`
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "https://www.google.com";
            }
        });*/
        {% endif %}
    });
</script>
{% endblock %}